*{
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
}
:root{
  --primeary: #2A7AE4;
  --black: #000000;
  --blackLighter: #9e9e9e;
  --grayLight: #F5F5F5;
  --graymedium: #E5E5E5;
  --white:#ffffff;
  --frontEnd: #68D1FF;
  --backEnd: #00C86F;
}
html,body{
  margin:0;
  padding:0;
}
a{
  color:inherit;
}